#returnform{
    padding: 2%;
    padding-top: 4%;
    text-align: justify;
}
.Returnhover{
    background-color: black ;
}

.Returnhover:hover{
    background-color: #e6c61c;
    color: black;
}

#conditions{
    background-color:#F0F0F0;
    outline-color: #e6c61c;
    outline-style: auto;
    border-radius: 2%;
    padding: 2%;
    font-size: 9px;
    margin-top: 2%;
    text-align: justify;
}
#conditions,h4{
    font-weight: 400;
}
.greetingtext{
    font-size: 15px;
    padding-bottom: 3%;
}
.headingR{
    font-size: 17px;
    font-weight: 500;
}

@media (max-width: 768px) {
    /* CSS rules for screens up to 768px */
    .Returnhover{
        background-color: black ;
        margin-left: 10%;
    }
  }