
.card{
    width: 100%;
     height: 100%;
     border: none;
     border-radius: 0%;
}
.card:hover{
    opacity: 0.8;
}
.iconbar{
    background-color:transparent;
    width: 100%;
    position: absolute;
    padding: 5%;
    font-size: 1.5rem;
    justify-content: center; 
    align-items: center;   
    margin-top: 28%;
}
/* .iconbar:hover{
    visibility: visible;
} */
.link{
  text-align: center; 
  padding-left: 45%;
}
.link .circle{
    visibility: hidden;
}
.link:hover .circle{
    visibility: visible;
} 
.circle{
    width: 50px; /* Set the width and height to create a circular container */
    height: 50px;
    border-radius: 50%; /* Make the container circular */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: #044704;
    background-color: #044704;
    color: aliceblue;

}
.circle:hover{
    /* background-color: #045b04; */
    color: aliceblue !important;
    
  
}

